<ion-view view-title="Ionic Typescript Gulp Seed App">
    <ion-content>

        <div class="jumbotron">
            <p class="lead">
                <img class="ionic-logo" ng-src="assets/images/ionic.svg" alt="Ionic"><br>
                Ionic combined with Typescript: the perfect pair!
            </p>

            <p class="animated infinite" ng-class="main.classAnimation">
                <a class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Toastr</a>
            </p>

            <p>
                With ♥ thanks to the contributions of
                <acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>
            </p>
        </div>

        <div class="list">

            <a class="item item-thumbnail-left" ng-href="{{ awesomeThing.url }}"
               ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
                <img ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">

                <h2>{{ awesomeThing.title }}</h2>

                <p>{{ awesomeThing.description }}</p>
            </a>

        </div>

    </ion-content>
</ion-view>
